@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: ase;
    src: url(/Aesthetic-Regular.ttf);
}

@font-face {
    font-family: cd;
    src: url(/CaviarDreams.ttf);
}

@font-face {
    font-family: HS;
    src: url(/Hirarki\ Signature.ttf);
}

html,
body {
    overflow-x: hidden;
    background: repeating-linear-gradient(to right, rgba(0, 0, 0, .005) 0, rgba(0, 0, 0, .04) 1px, transparent 1px, transparent 60px),
                repeating-linear-gradient(to bottom, rgba(0, 0, 0, .005) 0, rgba(0, 0, 0, .09) 1px, transparent 1px, transparent 60px);
}

::-webkit-scrollbar {
    width: 0px
}